# Laravel
/vendor
/.env
/.phpunit.result.cache
/storage/*.key
/storage/framework/*
!storage/framework/.gitignore
/storage/logs/*
!storage/logs/.gitignore

# Node/Vue
/node_modules
frontend/node_modules
frontend/dist

# Vite
frontend/.vite

# Mac
.DS_Store

# Docker
docker-compose.override.yml