.main-content {
            text-align: center;

            .toplogo {
                width: 100px;
                height: 100px;
                margin-left: 5rem;
                margin-right: auto;
                display: block;
            }
        }